* {
  box-sizing: border-box;
}
body {
  width: 1440px;
  display: block; /*как элемент реагирует на разные отступы */
  margin: 0 auto; /*выравнивание по центру/*/
  font-family: "Menoe Grotesque Pro";
  white-space: nowrap;
  overflow: hidden;
}

h1 {
  font-size: 96px;
  line-height: 90%;
  letter-spacing: -2.56px;
}
.firstSection {
  display: flex;
  background-image: url(../images/first.svg);
  width: 1440px;
  height: 166px;
}

.firstSection h1 {
  padding: 45px 0 0 174px;
  color: #ffffff;
}
.secondSection {
  display: flex;
  width: 1440px;
}
.secondSection p {
  font-size: 24px;
  line-height: auto;
}
.first {
  width: 363px;
  height: 335px;
  border: 4px solid #000;
  border-right: 0;
  padding: 124px 107px 124px 119px;
}
.first1 {
  width: 363px;
  height: 335px;
  border: 4px solid #000;
  border-top: 0;
  border-right: 0;
  padding: 153px 97px 153px 96px;
}
.black {
  width: 34px;
  height: 335px;
  background-color: #000;
}
.second1 {
  width: 322px;
  height: 335px;
  border-top: 4px solid #000;
}
.second2 {
  width: 322px;
  height: 335px;
  border-left: 4px solid #000;
  border-top: 4px solid #000;
}
.second3 {
  width: 322px;
  height: 335px;
  border-bottom: 4px solid #000;
}
.second4 {
  width: 322px;
  height: 335px;
  border-bottom: 4px solid #000;
  border-left: 4px solid #000;
}

.table {
  background-color: #a1adcb;
  border: 4px solid #000;
  width: 213px;
  height: 78px;
  margin: 157px 54px 100px 55px;
}
.table p {
  color: #ffffff;
  padding: 24px 58px 24px 54px;
}
.third {
  width: 363px;
  height: 335px;
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;
  padding: 124px 124px;
}
.third1 {
  width: 363px;
  height: 335px;
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;
  padding: 153px 125px 153px 125px;
}

.thirdSection {
  font-size: 24px;
  line-height: auto;
  width: 1440px;
  height: 335px;
  display: flex;
}

.second3 img {
  padding: 92px 90px 41.58px 91px;
}
.second4 img {
  padding: 92px 90px 41.58px 91px;
}
.arms img {
  position: absolute;
  top: 429px;
  left: 1131px;
}

.forthSection {
  width: 656px;
  height: 326px;
  background-color: #a1adcb;
  margin-left: 65px;
  padding: 121px 137px 33px 58px;
  color: #ffffff;
}
.fifthSection {
  width: 1440px;
  height: 452px;
  background-color: #a1adcb;
  font-family: "Inter-Regular";
  font-size: 24px;
  line-height: auto;
  color: #ffffff;
}

.fifthSection p:nth-of-type(1) {
  padding: 42px;
  padding-left: 134px;
}
.fifthSection p:nth-of-type(2) {
  padding: 60px;
  padding-left: 134px;
}
.fifthSection img {
  position: absolute;
  top: 1124px;
  left: 516px;
}
.sixthSection {
  width: 1440px;
  height: 872px;
  background-color: #a1adcb;
  display: flex;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
}
.sixthSection h1 {
  padding: 53px 773px 733px 123px;
  color: #ffffff;
}
.pills1 {
  padding-top: 505px;
  margin-left: -1570px;
  z-index: 2;
  transform: rotate(-60deg);
}
.pills1 p:nth-of-type(1) {
  padding-bottom: 13.55px;
}
.pills1 p:nth-of-type(1) {
  padding-bottom: 10.48px;
}
.pills1 p:nth-of-type(3) {
  padding-top: 11px;
}
.sixthSection img {
  position: absolute;
  padding: 223px 0 0 0;
  z-index: 1;
}

.sevenSection {
  width: 1440px;
  height: 902px;
  display: flex;
}
.sevenSection h2 {
  font-size: 64px;
  letter-spacing: -2.56px;
  line-height: 90%;
  color: #a1adcb;
  /* padding-top: 74px;
  padding-left: 123px; */
  padding: 74px 0 0 123px;
}
.line img {
  position: relative;
  padding-top: 145px;
  margin-left: -454px;
}
.sevenSection p {
  font-family: "Inter-Regular";
  font-size: 24px;
  line-height: auto;
  padding-top: 235px;
  margin-left: -464px;
}
.blood img {
  position: relative;
  padding-top: 0px;
  margin-left: -454px;
}
.eightSection {
  width: 1440px;
  height: 859px;
  display: flex;
  background-image: url(../images/details.svg);
  overflow: hidden;
}
.eightSection h1 {
  color: #ffffff;
  padding-top: 115px;
  padding-left: 123px;
}
.nineSection {
  width: 1440px;
  height: 803px;
  overflow: hidden;
}
.nineSection h1 {
  padding-top: 73px;
  padding-left: 123px;
}
.nineSection img {
  padding-left: 143px;
  margin-top: -234px;
}
.tenSection {
  width: 1440px;
  height: 865px;
  overflow: hidden;
  background-image: url(../images/apparat.svg);
  position: relative;
}
.tenSection h1 {
  padding-top: 52px;
  padding-left: 123px;
  color: #ffffff;
  margin: 0;
}
.math {
  display: flex;
  text-align: right;
  padding: 0 0;
  margin-left: 693px;
}
.firstMth h2 {
  font-size: 96px;
  line-height: 100px;
  margin: 67px 0 0 0;
}
.firstMth p {
  font-size: 24px;
  margin-top: -7px;
}
.secondMth {
  margin-left: -119px;
}
.secondMth h2 {
  font-size: 96px;
  line-height: 100px;
  margin-top: 281px;
}
.secondMth p {
  font-size: 24px;
  margin-top: -10px;
  padding-right: 10px;
}
.elevenSection {
  width: 1440px;
  height: 832px;
  display: flex;
  transform: rotate(-8.95deg);
}
.elevenSection img {
  width: 1160.6px;
  height: 757.47px;
  margin-top: 22.15px;
  margin-left: 140.43px;
}
.elevenSection h1 {
  color: #a1adcb;
  margin-top: 395px;
  margin-left: -830px;
}
.lang1 {
  font-size: 48px;
  font-style: italic;
  line-height: 58px;
  text-transform: uppercase;
  margin-top: 512px;
  margin-left: -1042px;
}
.lang2 {
  font-size: 48px;
  font-style: italic;
  line-height: 58px;
  text-transform: uppercase;
  margin-top: 512px;
  margin-left: 38px;
}
.twelveSection {
  width: 1440px;
  height: 700px;
  display: flex;
}
.bottle1 img {
  padding-top: 100px;
  padding-left: 149px;
}
.bottle p:nth-of-type(1) {
  font-size: 64px;
}
.bottle p:nth-of-type(2) {
  font-size: 24px;
  color: #a1adcb;
  margin-top: -22px;
  padding-left: 80px;
}
.bottle p:nth-of-type(3) {
  font-size: 16px;
  margin-top: -60px;
  padding-left: 140px;
}
.bottle p:nth-of-type(4) {
  font-size: 20px;
  margin-top: 8px;
  padding-left: 140px;
}
.bottle {
  transform: rotate(-90deg);
  position: relative;
  top: 450px;
  left: 99px;
}
.spray1 img {
  padding-top: 40px;
  padding-left: 104px;
}
.spray p:nth-of-type(1) {
  font-size: 20px;
  font-style: italic;
}
.spray p:nth-of-type(2) {
  font-size: 24px;
  letter-spacing: -1.5px;
  padding-top: 13px;
}
.spray p:nth-of-type(3) {
  font-size: 20px;
  font-style: italic;
  padding-top: 13px;
}
.spray {
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 530px;
  left: 52px;
}
.cough1 img {
  margin-top: -34px;
  padding-left: 140px;
}
.cough p:nth-of-type(1) {
  font-size: 32px;
}
.cough p:nth-of-type(2) {
  font-size: 20px;
  font-style: italic;
  margin-top: 30px;
}
.cough {
  color: #ffffff;
  position: relative;
  top: 234px;
  left: 213px;
}
.bar1 img {
  padding-top: 335px;
  margin-left: -545px;
}
.bar p:nth-of-type(1) {
  font-size: 24px;
  font-style: italic;
  line-height: 90%;
  letter-spacing: -1px;
}
.bar p:nth-of-type(2) {
  font-size: 64px;
  line-height: 90%;
  letter-spacing: -1.5px;
  padding-top: 54px;
}
.bar {
  color: #ffffff;
  position: relative;
  top: 514px;
  left: -490px;
}
/* .thirtSection {
  width: 1440px;
  height: 1078px;
  background-color: #a1adcb;
  background-color: fixed;
  margin-top: 100px;
  display: flex;
  transform: rotate(9.43deg);
} */
.thirtSection {
  width: 1440px;
  height: 1078px;
  margin-top: 60px;
  position: relative;
  display: flex;
  transform: rotate(9.43deg);
}

.thirtSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a1adcb;
  transform: rotate(-9.43deg);
}
.thirtSection img {
  padding-top: 108px;
  padding-left: 177px;
  position: absolute;
  z-index: 1;
}
.left {
  font-size: 20px;
  text-align: left;
  padding-top: 193.8px;
  padding-left: 257.8px;
  z-index: 2;
}
.left p:nth-of-type(2) {
  padding-top: 23px;
}
.right {
  font-size: 20px;
  padding-top: 193.8px;
  padding-left: 261px;
  z-index: 2;
}
.center {
  font-size: 32px;
  text-align: center;
  z-index: 2;
  padding-top: 375px;
  margin-left: -753px;
  position: relative;
}
.info {
  font-size: 32px;
  padding-top: 506px;
  margin-left: -735px;
  z-index: 2;
}
.info p:nth-of-type(2) {
  padding-top: 23px;
}
.info1 {
  font-size: 32px;
  padding-top: 506px;
  padding-left: 145px;
  z-index: 2;
}
.finish {
  font-size: 24px;
  z-index: 2;
  padding-top: 698px;
  margin-left: -933px;
}
.finish2 {
  font-size: 24px;

  padding-top: 801px;
  margin-left: -717px;
  z-index: 2;
}
.finish3 {
  font-size: 24px;
  padding-left: 108px;
  margin-top: 800px;
  z-index: 2;
}
.date {
  font-size: 32px;
  font-style: italic;
  margin-left: -232px;
  padding-top: 940px;
  z-index: 2;
}
/* .secondSection div:nth-of-type(2) {
  padding: 241px 21px 9px 107px;
}
.secondSection div:nth-of-type(3) {
  padding: 241px 106px 9px 22px;
}
.secondSection div:nth-of-type(4) {
  padding: 128px 129px 90px 117px;
} */
/* .thirdSection {
  display: flex;
  background-image: url(../images/третий.svg);
  width: 1440px;
  height: 335px;
  border: 4px solid #3a2e2e;
}
.thirdSection p {
  font-size: 32px;
}
.thirdSection > div:nth-of-type(1) {
  padding: 148px 62px 148px 66px;
}
.thirdSection div:nth-of-type(2) {
  padding: 148px 103px 148px 0px;
}
.fourthSection {
  display: flex;
  background-color: #a1adcb;
  width: 326px;
  height: 656px;
  margin-left: 66px;
}
.fourthSection h1 {
  padding: 121px 0 0 58px;
}
.green {
  width: 92px;
  background-color: #00ffbf;
  border-left: 4px solid #3a2e2e;
  border-right: 4px solid #3a2e2e;
}
.snake div {
  width: 268px;
  height: 86px;
  background-color: #a1adcb;
}
.snake img {
  width: 157px;
  display: block;
  margin: 0 auto;
  margin-top: 29px;
} */
